*{
    font-family: "rubik" , sans-serif;
    box-sizing: border-box;
}
.header{   
    position:fixed;
    z-index:99;
    width: 100vw;
}
.menu{
   list-style: none;
   text-align: center;
   background-color: #FFFFFF;
}
.logo{
    width: 155px;
    padding-top: 50px;
}
.items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    gap:20px;
    padding-top: 10px;
   
}
.item1 , .item2 {
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    color: #4a4a4a;
    text-transform: uppercase;
    padding: 10px;

}
.item1 , .item2:hover:active:visited{
    color:#4a4a4a;
}
.principal{
    position:relative;
    margin-top: 30px;
}
.section{
    display: flex;
    justify-content: center;
    align-content:center;
  
    background-color:#3CDBC0 ;
    width: 100vw;
    height: 100vh;
    margin-top: 30px;
 }
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    text-transform: capitalize;
    color: #FFFFFF;
    font-size: 30px;
    word-spacing: 100vw;
}

@media all and (min-width: 768px){
    .menu{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 50px;
        align-content: center;
       
    }
    .text{
        font-size: 40px;
    }
    .logo{
       margin-bottom:30px;
       margin-left: 30px;

    }
} 